$baseClassName: update-link;

.#{$baseClassName} {
  &__title {
    margin: 10px 0px 20px 0px;
    &__content {
      font-size: 50px;
      font-weight: bold;
    }
  }
  &__btn {
    height: 30px;
    width: 200px;
    cursor: pointer;
  }
}
