$baseClassName: link;

.#{$baseClassName} {
  margin: 15px 0px;
  &__wrapper {
    display: inline-block;
    margin-right: 10px;
    &__desc,
    &__url {
      font-size: 20px;
    }
    &__desc {
      margin-right: 10px;
    }
    &__url {
      cursor: pointer;
      color: blue;
    }
    &__btn {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  &__emoji {
    margin-right: 10px;
    cursor: pointer;
  }
}
